.about{
    margin-top: 70px;
}
.about__top-wrapper{
    width: 1150px;
    height: 650px;
    position: relative;
}
.title{
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}
.about__box-img{
    width: 1150px;
    height: 500px;
    margin-top: 30px;
}
.about__img{
    width: 100%;
    height: 100%;
}
.about__text{
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    width: 430px;
}
.about__bottom-wrapper{
    width: 1051px;
    height: 518px;
    margin-top: 150px;
}
.about__us{
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    margin-left: 3px;
}
.about__view-services{
    width: 255px;
    height: 67px;
    line-height: 67px;
    text-align: center;
    border-radius: 5px;
    background-color: #AD1818;
    margin-top: 30px;
}
.about__view-link--active{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 27px;
}
.about__view-link--active:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
@media (max-width: 960px){
    .about__top-wrapper{
        width: 928px;
        height: 550px;
    }
    .title{
        width: 802px;
        font-size: 50px;
        color: #121212;
    }
    .about__box-img{
        width: 928px;
        height: 400px;
    }
    .about__text{
        bottom: 30px;
    }
    .about__bottom-wrapper{
        width: 693px;
        height: 488px;
        margin-top: 120px;
    }
    .about__us{
        font-size: 35px;
        line-height: 48px;
        margin-left: 3px;
    }

}