.wrapper_bg{
    width: 1150px;
    height: 650px;
    margin-top: 70px;
}
.about_title{
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    letter-spacing: -0.03em;
    font-weight: 400;
}
.about_inner{
    width: 1150px;
    height: 500px;
    background-image: url("../img/bg-logo-pc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    position: relative;
}
.about_text{
    width: 430px;
    font-size: 20px;
    line-height: 27.30px;
    color: #FFFFFF;
    position: absolute;
    left: 40px;
    bottom: 40px;
}

.wrapper_about_txt{
    width: 1051px;
    height: 518px;
    margin-top: 150px;
}

.txt_logo{
    width: 51px;
    font-size: 18px;
    line-height: 24.59px;
    color: #121212;
    margin-bottom: 30px;
}
.txt_about{
    font-size: 45px;
    color: #121212;
    line-height: 61.47px;
    width: 1048px;
    letter-spacing: -0.03em;
    font-weight: 400;
}
.btn{
    width: 255px;
    height: 67px;
    background-color: #AD1818;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    line-height: 67px;
}
.btn_text{
    width: 175px;
    color: #ffffff;
    font-size: 20px;
    line-height: 27.32px;
    text-decoration: none;
}

@media (max-width: 992px){
    .wrapper_bg{
        width: 928px;
        height: 550px;
        margin-top: 73.76px;
    }
    .about_title{
        width: 802px;
        font-size: 50px;
    }
    .about_inner{
        background-image: url('../img/bg-logo-tablet.png');
        width: 928px;
        height: 400px;
    }
    .about_text{
        bottom: 30px;
    }
    .wrapper_about_txt{
        width: 693px;
        height: 488px;
        margin-top: 120px;
    }
    .txt_about{
        width: 690px;
        font-size: 35px;
        line-height: 47.81px;
    }
}
@media (max-width: 576px) {
    .wrapper_bg{
        width: 350px;
        height: 424px;
        margin-top: 50px;
    }
    .about_title{
        width: 348px;
        font-size: 31px;
        line-height: 31.62px;
        letter-spacing: -0.03em;
        font-weight: 400;
    }
    .about_inner{
        width: 350px;
        height: 304px;
        margin-top: 25px;
        background-image: url("../img/bg-logo-phone.png");
    }
    .about_text{
        left: 15px;
        bottom: 15px;
        width: 312px;
        font-size: 16px;
        line-height: 21.86px;
    }
}