html{
    scroll-behavior: smooth;
}
body{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}
.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 15px;
}
a{
    display: inline-block;
    text-decoration: none;
}
li{
    list-style: none;
}
