.feedback__list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 25px;
}
.feedback__list-item{
    width: calc(50% - 25px);
}
.feedback__name{
    font-size: 45px;
    line-height: 61px;
    color: #000000;
    margin-bottom: 14px;
}
.feedback__text{
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}
.feedback__list-item:last-child{
    width: 75%;
    max-width: 861px;
}