.feedback__list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 25px;
}
.feedback__list-item{
    width: calc(50% - 25px);
}
.feedback__name{
    font-size: 45px;
    line-height: 61px;
    color: #000000;
    margin-bottom: 14px;
    letter-spacing: -0.03em;
}
.feedback__text-rewiev{
    font-size: 22px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
}
.feedback__list-item:last-child{
    width: 75%;
}
.feedback__text-rewiev:last-child{
    margin-bottom: 0px;
}
@media (max-width: 1024px){
    .feedback__list{
        row-gap: 50px;
        column-gap: 5px;
    }
    .feedback__list-item{
        width: calc(50% - 5px);
    }
    .feedback__name{
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 25px;
    }
    .feedback__text-rewiev{
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 30px;
    }
}
@media (max-width: 768px){
    .feedback__list{
        row-gap: 76px;
        column-gap: 0px;
    }
    .feedback__list-item{
        width: 100%;
    }
    .feedback__name{
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 10px;
    }
    .feedback__text-rewiev{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 22px;
    }
    .feedback__list-item:last-child{
        width: 100%;
    }
}