.header{
    display: flex;
    justify-content: space-between;
    margin-top: 32.80px;
    
}
.logo{
    width: 126.90px;
    height: 21.40px;
}
.nav_inner{
    display: flex;
    justify-content: space-between;
    width: 466px;
}
.nav-item{
    text-decoration: none;
    color: #121212;
    font-size: 18px;
    line-height: 24.60px;
    /* margin-right: 60px; */
}
.nav-item:not(:last-child){
    margin-right: 60px;
}
li::marker{
    content: "";
}
li:first-child{
    opacity: 50%;
    border-bottom: 1px solid #000000;
}
@media (max-width: 1024px){
    .header{
        width: 100%;
    }
    .nav_inner{
        display: none;
    }
    .logo{
        width: 126.89px;
        height: 21.40px;
    }
}
@media (max-width: 480px) {
    .header{
        width: 100%;
        margin-top: 31px;
    }
    .logo{
        width: 96px;
        height: 16px;
    }
}