.header{
    display: flex;
    justify-content: space-between;
    margin-top: 32.80px;
    width: 1150px;
    height: 25.20px;
}
.logo_inner{
    width: 126.90px;
    height: 21.40px;
}
.nav_inner{
    width: 466px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.item{
    text-decoration: none;
    color: #121212;
    font-size: 18px;
    line-height: 24.60px;
}
li::marker{
    content: "";
}
li:first-child{
    opacity: 50%;
    border-bottom: 1px solid #000000;
}