.header{
    margin-top: 33px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
}
.header__box-logo{
    width: 127px;
    height: 21px;
}
.logo{
    width: 100%;
    height: 100%;
}
.menu__item--margin{
    margin-right: 60px;
}
.menu__item--margin:last-child{
    margin-right: 0px;
}
.menu__link-header{
    font-size: 18px;
    line-height: 25px;
    color: #121212;
}

@media (max-width: 1180px){
    .menu{
        display: none;
    }
    
}
