html{
    scroll-behavior: smooth;
    letter-spacing: -0.03em;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

.container{
    width: 1180px;
    margin: 0 auto;
    padding: 0px 15px;
}

@media (max-width: 992px){
    .container{
        width: 958px;
        margin: 0 auto;
        padding-left: 17px;
        padding-right: 15px;
    }
}
@media (max-width: 767px) {
    .container{
        width: 375px;
        margin: 0 auto;
        padding-left: 13px;
        padding-right: 12px;
    }
}