.projects{
    margin-top: 150px;
}
.projects__wrapper{
    height: 2122px;
}
.projects__item{
    width: 1150px;
    height: 548px;
}
.projects__item--margin{
    margin-bottom: 90px;
}
.projects__box-img{
    width: 1150px;
    height: 450px;
}
.projects__img{
    width: 100%;
    height: 100%;
}
.projects__name{
    font-weight: 400;
    letter-spacing: -0.03em;
    font-size: 30px;
    line-height: 40.98px;
}
.projects--margin{
    margin-top: 15px;
}
.projects__details{
    font-size: 20px;
    line-height: 27.32px;
    color: #AD1818;
}