.wrapper-service{
    width: 100%;
    height: 1602px;
    background-color: #121212;
    margin-top: 150px;
    border: 1px solid transparent;
}
.service-text{
    width: 66px;
    font-size: 18px;
    line-height: 24.59px;
    color: #fff;
    margin-top: 151px;
    margin-bottom: 30px;
}
.item-wrapper{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.item{
    width: 50%;
    height: 455px;
    position: relative;
}
.service{
    /* width: 50%; */
    height: 389px;   
}
.service-price{
    min-width: 163px;
    height: 40px;
    position: absolute;
    left: 31px;
    top: 30px;
    background-color: #AD1818;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}
.text-price{
    font-size: 22px;
    color: #FFFFFF;
}
.first{
    margin-bottom: 85px;
}
.second{
    margin-bottom: 85px;
}
.third-price{
    width: 193px;
}
.four{
    width: 211px;
}
.title{
    font-size: 30px;
    line-height: 40.98px;
    color: #FFFFFF;
    margin-top: 17px;
    margin-left: 3px;
}
.btn-service{
    width: 1150px;
    height: 153px;
    line-height: 153px;
    text-align: center;
    background-color: #AD1818;
    border-radius: 5px;
    margin-top: 106px;
}
.text-service{
    font-size: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.text-service:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}