.services{
    width: 100%;
    height: 1602px;
    margin-top: 150px;
    background-color: #121212;
    border: 1px solid transparent;
}
.section_name--color{
    color: #fff;
}
.section_name--custom-margin{
    margin-top: 151px;
    margin-bottom: 30px;
}
.services__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 80px;
    margin-bottom: 106px;
}
.services__item{
    position: relative;
    height: 455px;
    width: calc(50% - 5.5px);
}
.services__img-wrapper{
    height: 389px;
}
.services__picture-one, .services__picture-second, .services__picture-third, .services__picture-four{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services__name-item{
    font-size: 30px;
    line-height: 41px;
    color: #fff;
}
.services__name-item--margin{
    margin-top: 25px;
    margin-left: 3px;
}
.services__name-item--custom-margin{
    margin-top: 17px;
    margin-left: 3px;
}
.services__price-block{
    position: absolute;
    left: 30px;
    top: 31px;
    background-color: #AD1818;
    border-radius: 5px;
}
.services__price{
    color: #fff;
    padding: 5px 20px;
    line-height: 30px;
    font-size: 22px;
}
@media (max-width: 1024px) {
    .services{
        height: 1381px;
        margin-top: 103px;
    }  
    .services__list{   
        row-gap: 75px;
        margin-bottom: 80px;
    }
    .services__item{
        height: 371px;
        width: calc(50% - 4px);
    }
    .services__img-wrapper{
        height: 315px;
    }
    .services__picture-one{
        content: url("../img/services__one-tablet.jpg");
    }
    .services__picture-second{
        content: url("../img/services__second-tablet.jpg");
    }
    .services__picture-third{
        content: url("../img/services__third-tablet.jpg");
    }
    .services__picture-four{
        content: url("../img/services__four-tablet.jpg");
    }
    .services__name-item{
        font-size: 25px;
        line-height: 34px;
    }
    .services__name-item--margin{
        margin-top: 15px;
    }
    .services__name-item--custom-margin{
        margin-top: 15px;
    }
    .services__price-block{
        left: 31px;
        top: 32px;
    }
    .services__price{
        color: #fff;
        padding: 7px 26px;
        line-height: 27px;
        font-size: 20px;
    }
}