
body{
    font-family: "Manrope", sans-serif;
    background-color: #FFFFFF;
}
.main-block{
    width: 1150px;
    height: 650px;
    margin-top: 128px;
    margin-left: 125px;
}
h1{
    font-weight: 400;
    color: #121212;
    font-size: 60px;
    line-height: 60px;
    width: 1000px;
    height: 120px;
    padding-bottom: 30px;
}
 .text-wrapper{
    position: relative;
    background-image: url('../resourses/Rectangle\ 1.jpg');
    width: 1150px;
    height: 500px;
 }
.main__text{
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    color: #ffffff;
    width: 450px;
    height: 81px;
    /* padding: 379px 680px 40px 40px; */
}
.about-block{
    width: 1051px;
    height: 518px;
    margin: 150px 99px 0px 128px;
}
h4{
    width: 54px;
    height: 25px;
    font-weight: 400;
    line-height: 24.59px;
    font-size: 18px;
    padding-bottom: 30px;
}
h2{
    font-weight: 400;
    font-size: 45px;
    line-height: 61.47px;
    width: 1020px;
    height: 366px;
    padding-bottom: 100px;
}

.services{
    display: block;
    width: 255px;
    height: 67px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    line-height: 67px;
    border: 5px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    background-color: #AD1818;
}
.services:hover{
    background-color: white;
    color: #121212;
    border-radius: 30px;
}

.projects{
    width: 1150px;
    height: 2122px;
    margin: 200px 125px 0px 125px;
}
.word-project{
    width: 79px;
    height: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24.59px;
    color: #121212;
    padding: 0px 1196px 30px 0px;
}

.items{
    width: 1150px;
    height: 548px;
    padding-bottom: 90px;
}
img{
    width: 1150px;
    height: 450px;
}
h3{
    width: 600px;
    height: 41px;
    font-weight: 400;
    color:#121212;
    line-height: 40.98px;
    font-size: 28px;
    padding-top: 15px;
    padding-right: 649px;
}
.details{
    width: 127px;
    height: 27px;
    color: #AD1818;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    padding: 15px 110px 0px 0px;
    text-decoration: none;
}

.all-services{
    width: 1150px;
    height: 153px;
    background-color: #ffffff;
    border: 1px solid #AD1818;
    border-radius: 5px;
}
.btn-services{
    display: block;
    width: 1150px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40.98px;
    text-align: center;
    text-decoration: none;
    color:#AD1818;
    padding-top: 56px;
    padding-bottom: 56px;
}

.btn-services:hover{
    background-color: #AD1818;
    color:#ffffff;
}


.price__block{
    width: 100%;
    height: 1844px;
    background-color: #121212;
    margin-top: 150px;
    box-sizing: border-box;
}
.price__name{
    width: 66px;
    height: 25px;
    color:#ffffff;
    padding-top: 151px;
    padding-left: 125px;
}
.price__items{
    width: 1150px;
    height: 326px;
    padding-top: 60px;
    padding-left: 125px;
    padding-right: 125px;
}
.first-el{
    padding-top: 34px;
}
.last-el{
    padding-bottom: 150px;
}
.itm-photo{
    width: 1150px;
    height: 270px;
}
.price__money{
    width: 700px;
    height: 41px;
    font-weight: 400;
    font-size: 30px;
    line-height: 40.98px;
    color: #FFFFFF;
}